/* 4k ******************************************************************************************************************************/

/* guess logo animation */
@media screen and (min-width:2160px){
.guess {
    display: inline-block;
    position: relative;
    animation: wiggle2 2s;
    animation-iteration-count: infinite;
    width: 50px;
    height: 50px;
    top: 200px;     
    right: 400px;

}
@keyframes wiggle2 {
    0% { transform:  translate(-5px, 1px) rotate(0deg);}
    10% { transform:  translate(1px, -1px) rotate(-2deg);}
    50% { transform:  translate(-1px, 7px) rotate(-1deg);}
    65% { transform:  translate(-5px, 1px) rotate(0deg);}
    70% { transform:  translate(3px, 1px) rotate(-1deg);}
    85% { transform:  translate(-1px, -1px) rotate(7deg);}
    100% { transform:  translate(2px, -10px) rotate(-1deg);}
    }


/* pick-a animation */
.pick {
    display: inline-block;
    position: relative;
    animation: wiggle 2s;
    animation-iteration-count: infinite;
    width: 200px;
    height:200px;
    margin: 0%;
    right: 300px;
    top: -100px;
}
        
@keyframes wiggle {
    0% { transform:  translate(1px, 1px) rotate(0deg);}
    40% { transform:  translate(1px, -1px) rotate(1deg);}
    50% { transform:  translate(-1px, 2px) rotate(-1deg);}
    60% { transform:  translate(-3px, 1px) rotate(0deg);}
    70% { transform:  translate(3px, 1px) rotate(-1deg);}
    80% { transform:  translate(-1px, -1px) rotate(1deg);}
    100% { transform:  translate(1px, -2px) rotate(-1deg);}        
    }
}

